.card__container {
    display: grid;
    grid-template-columns: repeat(var(--repeat), 1fr);
    gap: 1em;
    
    padding: 1em; 
}

.card__secondaryContainer {
    display: grid;
    grid-template-columns: repeat(var(--repeat), 1fr);
    grid-template-rows: 1em auto 1em;
    
    padding: 1em; 
}

.card__secondaryContainer .card__column {
    grid-row: 2/3;
}

.card__columnContainer {
    column-count: var(--repeat);
    column-gap: 1em;

    padding-bottom: 2em;
}

.card__columnContainer > * {
    display: block;
    padding: .4em 0;
}


.card__columnContainer--card {
    --text-color: var(--color-secondary-10);
    position: relative;
}

.card__columnContainer--card p{
    position: absolute;
    inset: auto 0 .4em 0;

    padding: 1em;
    background-color: var(--color-primary-03);

    color: var(--text-color);
    opacity: .8;
}

.card__column{
    --background-color: var(--color-primary-03);
    --text-color: var(--color-grey-08);
    --secondary-text-color: var(--color-secondary-05);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 2em;
    background-color: var(--background-color);
    border-radius: 1em;
    
    font-size: 0.8em;
    color: var(--text-color);
}

.card__column h1{
    font-size: 1.25em;
}

.card__column p{
    margin: 0 0 auto;
    padding: 1em 0;
}

.card__column span{
    align-self: flex-end;

    color: var(--secondary-text-color);
}

.card__exceptional{
    --background-color: var(--color-secondary-03);
    --secondary-text-color: var(--color-secondary-07);
    grid-row: 1/4;

    padding: 2em;
}

.repeat1{ --repeat: 1;}
.repeat2{ --repeat: 2;}
.repeat3{ --repeat: 3;}
.repeat4{ --repeat: 4;}

@media screen and (max-width: 1024px) {
    .repeat3, .repeat4{
        --repeat: 2;
    }
}

@media screen and (max-width: 768px) {
    .repeat2, .repeat3, .repeat4{
        --repeat: 1;
    }
}