.carosel {   
    --height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    height: var(--height);
    width: auto;
    margin-top: 1em;
}

.carosel__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    height: 95%;
    width: 100%;
}

.carosel img {
    width: 100%;
    height: 100%;
    
    object-fit: contain;
}

.carosel__backButton, .carosel__forwardButton {
    --text-color: var(--color-grey-05);

    display: flex;
    justify-content: center;
    
    position: relative;
    z-index: 1;
    
    width: 0;
    border: none;
    background-color: transparent;
    
    font-size: max(2em, 5vw);
}

.carosel__backButton:hover, .carosel__forwardButton:hover{
    --text-color: var(--color-grey-03);
}

.carosel__slide {  
    width: 100%;
    height: 100%;

    --animate-duration: .5s;
}

.carosel__spots{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    height: auto;
    padding: .5em;
}

.carosel__spot{
    height: max(1em, 1.5vh);
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color: var(--color-grey-01);
}

.carosel__spot:hover{
    background-color: var(--color-grey-03);
}

.highlight {
    background-color: var(--color-grey-05);
}

@media screen and (min-width: 1024px) {
    .carosel {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .carosel {
        --height: calc(100vh - 125px);
    }
}