footer {   
    --text-color: var(--color-grey-06);
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 3em;

    position: relative;
    z-index: 900;

    width: 100%;
    padding: 2em;
    background-color: var(--color-primary-05);
    margin-top: 5vh;

    font-weight: bold;
    color: var(--text-color);
}

footer > nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;

    width: 100%;
}

.footer__logo{    
    align-items: end;
    
    padding: 1.5em 1em;
    background-color: var(--text-color);
    border-radius: 50%;
}

.footer__logo img {
    height: 100%;
    width: 100%;
}

.footer__primaryNav {
    gap: .5em;
}

.footer__secondaryNav {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.fa-circle {
    --text-color: var(--text-color);
}

.fa-instagram {
    --text-color: var(--color-secondary-07);
    color: var(--text-color);
}

@media screen and (min-width: 768px) {
    footer {
        padding: 3em var(--desktop-margin) var(--desktop-margin);
    }

    footer > nav {
        flex-direction: row-reverse;
    }

    .footer__primaryNav {
        text-align: end;
    }
}