header {
    --background-color: var(--color-grey-01);
    --font: var(--font-secondary);

    position: sticky;
    inset: 0 0 auto 0;
    z-index: 999;

    display: grid;
    grid-template-areas: 
    "logo burger"
    "nav nav" ;
    row-gap: 1em;

    padding: 1em 1em 0 1em;

    background-color: var(--background-color);
    font-family: var(--font);
}

.header__desktopLogo {
    display: none;
}

.header__mobilLogo {
    grid-area: logo;

    display: inline-block;

    width: fit-content;
    padding: .5em .25em;
    background-color: var(--text-color);
    border-radius: 50%;
}

.header__mobilLogo img {
    height: 1.5em;
}

header .burger {
    grid-area: burger;

    display: flex;
    align-items: center;
    justify-content: end;

    font-size: 1.5em;
}

header nav {
    grid-area: nav;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1em;

    height: 0;
    padding: 0;
    
    transform: translateX(-150%);
    transition: transform .5s ease-in-out;
}

.Nav--show {
    padding: 2em 0 90vh 1em;

    transform: translateX(0);
}

@media screen and (min-width: 1024px) {
    header {
        --background-color: var(--color-white);

        padding: 1em var(--desktop-margin);
    }

    header nav {
        flex-direction: row;
        align-items: center;

        height: auto;

        transform: translateX(0);
    }

    .header__desktopLogo {
        display: block;
    }

    .header__mobilLogo, header .burger {
        display: none;
    }
}


