@import url("./asset/css/header.css");
@import url("./asset/css/footer.css");
@import url("./asset/css/cards.css");
@import url("./asset/css/carosel.css");
@import url("./asset/css/form.css");
@import url("./asset/css/about.css");

:root {
    --color-white: #eeeeee;

    --color-grey-01: #D6D6D6;
    --color-grey-02: #BABABA;
    --color-grey-03: #979797;    
    --color-grey-04: #757575;   
    --color-grey-05: #535353;   
    --color-grey-06: #303030;   
    --color-grey-07: #282828;   
    --color-grey-08: #202020;   
    --color-grey-09: #181818;   
    --color-grey-10: #101010;

    --color-primary-01: #D6DFDC;
    --color-primary-02: #BACAC5;
    --color-primary-03: #97AFA7;
    --color-primary-04: #75958A;
    --color-primary-05: #537B6D;
    --color-primary-06: #306050;
    --color-primary-07: #285043;
    --color-primary-08: #204035;
    --color-primary-09: #183028;
    --color-primary-10: #10201B;

    --color-secondary-01: #F8F1DF;
    --color-secondary-02: #F4E8CA;
    --color-secondary-03: #EEDDAF;
    --color-secondary-04: #E8D295;
    --color-secondary-05: #E3C67B;
    --color-secondary-06: #DDBB60;
    --color-secondary-07: #B89C50;
    --color-secondary-08: #937D40;
    --color-secondary-09: #6F5E30;
    --color-secondary-10: #4A3E20;

    --shadow-header: 0px 1px 10px 1px rgba(83,83,83,0.1);

    --font-primary: 'Quicksand', sans-serif;
    --font-secondary: 'Playfair Display SC', serif;

    --desktop-margin: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --font: var(--font-primary);
    --text-color: var(--color-grey-06);
    --background-color: var(--color-white);
    
    background-color: var(--background-color);

    font-family: var(--font);
    color: var(--text-color);
}

h1, h2, h3 {
    --font: var(--font-secondary);
    font-family: var(--font);
}

.fa-stack{
    vertical-align: top;
    font-size: 1em; 
    width: 2em;
}

input, button, textarea, select {
    padding: .5em;
    border: 1px solid var(--text-color);
    border-radius: 2px;
    background-color: transparent;

    font-family: var(--font);
}

a, li{
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

span {
    font-weight: bold;
    font-size: 1.25em;
}

img{
    display: block;

    height: auto;
    width: 100%;
}

/* Main */
main{
    --margin: 1em;

    min-height: 80vh;

    margin: 1em var(--margin);
}

@media screen and (min-width: 1024px){
    main{
        --margin: var(--desktop-margin);
    }
}

.galleries__padding {
    padding: 0 10vw; 
}